# Virtual environment
.venv/
venv/
__pycache__/
*.pyc
.env

# Build artifacts
build/
dist/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

# Base de données SQLite (si tu en utilises)
*.sqlite3

# VS Code / IDE
.vscode/
.idea/

# Modèles d'IA / HuggingFace local
backend/scripts/storage/hf_cache/
*.safetensors
**/paraphrase-multilingual-MiniLM-L12-v2/
*.bin
*.safetensors
*.onnx